{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 帖子内容' }}{{/block}}

{{block 'head'}}
<style>
  pre{
    font-family: monospace;
    font-weight: 300;
    font-size: 16px
  }
  .card{
    box-shadow: 0px 0px 5px grey;
  }
</style> 
{{/block}}

{{block 'body'}}
<div class="container bg-white">
  <br/>
  <div class="card bg-light text-dark">
    <div class="card-header">
      <h3 class="card-title">{{topic.title}}</h3>
    </div>
    <div class="card-body ">
      <div class="row ">
          <div class="col">楼主：<a class="card-link" href="">{{topic.nickname}}</a></div>
          <div class="col">发帖时间：{{topic.topic_created_time}}</div>
      </div>
      <hr/>    
      <pre class="">{{topic.content}}</pre>
    </div>
  </div>
  <br/>

  {{each comments}}
  <div class="card bg-light text-dark">
    <div class="card-body">
      <div class="row">
          <div class="col">回复人：<a href="#" class="card-link">{{$value.nickname}}</a></div>
          <div class="col">回复时间：{{$value.comment_created_time}}</div>
      </div>
      <hr>
      <pre><p class="card-text">{{$value.comment_content}}</p></pre>
    </div>
  </div>
  <br/>
  {{/each}}

  <div class="card">
    <div class="card-body">
      <form action="/comment" id="new_form" method="POST">
        <div class="form-group">
          <textarea class="form-control" rows="3" name="comment_content" required="true"></textarea>
        </div>
        <button type="submit" class="btn btn-success">回复</button>
      </form>
    </div>
  </div>
  <br/>
</div>
{{/block}}
