{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 个人设置'}}{{/block}}

{{block 'body'}}
<section class="container">
  <!-- Nav tabs -->
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#admin">账号管理</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="profile_a" data-toggle="tab"  href="#profile">个人中心</a>
    </li>
  </ul>
   
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active container" id="admin">
            <div class="subhead">
              <br/>
              <h3>修改密码</h3>
            </div>
            <hr>
            <form id='changePassword'>
              <div class="form-group">
                <label for="exampleInputPassword1">当前密码</label>
                <input type="password" class="form-control" name="nowPassword" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">新的密码</label>
                <input type="password" class="form-control" name="newPassword1" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">确认密码</label>
                <input type="password" class="form-control" name="newPassword2" id="exampleInputPassword1" placeholder="">
              </div>
              <button type="submit" class="btn btn-success">保存</button>
            </form>
            <div class="subhead">
              <h2>注销账号</h2>
              <hr>
            </div>
            <div>
              <p>一旦注销，不可找回，请谨慎操作</p>
              <button class="btn btn-danger">删除</button>
            </div>
            <hr>
    </div>
    <div class="tab-pane container" id="profile">
        <div class="subhead">
            <br/>
            <h3>个人信息</h3>
        </div>
        <hr>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">账号</label>
                <p class="form-control-static">{{user.email}}</p>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">昵称</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">介绍</label>
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">性别</label>
                <div>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 男
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 女
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 保密
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">生日</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
              </div>
              <button type="submit" class="btn btn-success">保存</button>
            </form>
          </div>
          <div class="col-md-2 profile-avatar">
            <dl>
              <dt>头像设置</dt>
              <dd>
                <img class="avatar" width="150" height="150" src="../public/img/avatar-max-img.png" alt="">
                <div>
                  <button class="btn btn-default" href="">Upload new picture</button>
                </div>
              </dd>
            </dl>
          </div>
  </div>
</section>
<script>
    $('#changePassword').on('submit', function (e) {
      e.preventDefault()
      var formData = $(this).serialize()
      $.ajax({
        url: '/changePassword',
        type: 'post',
        data: formData,
        dataType: 'json',
        success: function (data) {
          console.log(data)
          var err_code = data.err_code
          if (err_code === 0) {
            window.alert('注册成功！')
            // 服务端重定向针对异步请求无效
            window.location.href = '/'
          } else if (err_code === 1) {
            window.alert('邮箱或密码已存在！')
          } else if (err_code === 500) {
            window.alert('服务器忙，请稍后重试！')
          }
        }
      })
    })
  </script>  
{{/block}}
